body {
    margin: 0;
    padding: 0;
    background-color: #808080;
}

.hud {
    position: fixed;
    bottom: 0;
    left: 50%;              /* posune začátek na střed */
    transform: translateX(-50%); /* vrátí ho zpět o polovinu šířky */
    z-index: 9999;
}

.hud img {
    display: block;
    max-width: 100%;  /* aby nepřesahoval obrazovku */
    height: auto;
}
