body {
    margin: 0;
    padding: 0;
    background-color: #808080;
}

.hud {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.hud img {
    width: 100%;
    display: block;
}
