body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* zruší scroll celé stránky */
}

/* Herní plocha */
.game-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* umožní posouvání prstem */
}

/* Mapa */
.map {
    display: block;
    margin: auto; /* vycentruje při načtení */
    min-width: 150%; /* větší než obrazovka */
    height: auto;
}

/* HUD */
.hud {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.hud img {
    display: block;
    max-width: 100%;
    height: auto;
}.
